
nav ul a,
nav .brand-logo {
  color: white;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: white;
}

.parallax-container {
  min-height: 700px;
  line-height: 0;

  color: rgba(255,255,255,.9);
  top: 0;
  margin-top: 0%;
}

  .parallax-container .section {
    top: 0;
    width: 100%;
    
  }


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    top: 0;
    position: absolute;
    min-height: 750px;
    
  }
  #index-banner .section {
    top: 0;
 
 
  }
}



.icon-block {
  padding: 0px 15px;
  
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.footbgcolor{
  background: #000000;
}

.hob{
  color: black;
  margin: 2%;
  
}
.hobhead{
  color: white;
}
.projText{
  font-size: 16px;
  
}

.transbox{
  background: rgba(255, 255, 255, 0.5)
}
.mtop{
  margin-top:5%;
}
.just{
  text-align:justify;
}
.skilltext{
  color: black;
  margin-right:2%;
}
.boxsize{
  width: 100%;
  margin-right:0%;
}
